body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Conetenedor grid */
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  grid-gap: 20px;
}

.card {
  background: linear-gradient(rgb(0, 200, 255), white 100px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
}

.card:hover {
  cursor: pointer;
}
.card a {
  text-decoration: none;
}
/* Imagen Pokemon */
.img:hover {
  scale: 1.1;
}
.img-div {
  display: flex;
  justify-content: center;
}

.type {
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
}

/* Agregamos estilos para el tipo de pokemon */
.type.grass {
  background-color: #78c850;
}
.type.fire {
  background-color: #f08030;
}
.type.water {
  background-color: #6890f0;
}
.type.bug {
  background-color: #a8b820;
}
.type.normal {
  background-color: #a8a878;
}
.type.poison {
  background-color: #a040a0;
}
.type.electric {
  background-color: #f8d030;
}
.type.ground {
  background-color: #e0c068;
}
.type.fairy {
  background-color: #ee99ac;
}
.type.fighting {
  background-color: #c03028;
}
.type.psychic {
  background-color: #f85888;
}
.type.rock {
  background-color: #b8a038;
}
.type.steel {
  background-color: #b8b8d0;
}
.type.ice {
  background-color: #98d8d8;
}
.type.dragon {
  background-color: #7038f8;
}
.type.dark {
  background-color: #705848;
}

/* Informacion de pokemon */
.info {
  text-align: center;
  font-family: Verdana;
}

.info div {
  border-top: 2px solid black;
}
/* Contenedor del titulo y botones */
.header-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: red;
  border-bottom: 10px solid black;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: yellow;
}

.header-container a {
  text-decoration: none;
}
/* Contenedor de botones */

#btn-div button {
  padding: 10px;
  margin: 5px;
  background-color: gray;
  color: white;
}

/* Error Page */
* {
  transition: all 0.6s;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
}

#main {
  display: table;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
