body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

/* Conetenedor grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
  background: linear-gradient(rgb(0, 200, 255), white 100px);
  border-radius: 10px;
}
.card:hover {
  cursor: pointer;
}
.card a {
  text-decoration: none;
}
/* Imagen Pokemon */
.img:hover {
  scale: 1.1;
}
.img-div {
  display: flex;
  justify-content: center;
}

/* Informacion de pokemon */
.info {
  text-align: center;
  font-family: Verdana;
}

.info div {
  border-top: 2px solid black;
}
/* Contenedor del titulo y botones */
.header-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: red;
  border-bottom: 10px solid black;
  justify-items: center;
  align-items: center;
}

.header-container a {
  text-decoration: none;
}
/* Contenedor de botones */

#btn-div button {
  padding: 10px;
  margin: 5px;
  background-color: gray;
  color: white;
}

/* Error Page */
* {
  transition: all 0.6s;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: #888;
  margin: 0;
}

#main {
  display: table;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
